.header{
  padding: 20px 0;
  input[type ='checkbox'] {
    position: relative;
    width: 50px;
    height: 20px;
    cursor: pointer;
    background-color: #eae2e2;
    -webkit-appearance: none;
    border-radius: 20px;
    outline: none;
    transition: all .2s;
    &:before{
      content: 'D';
      width: 16px;
      font-size: 15px;
      text-align: center;
      border-radius: 20px;
      height: 17px;
      bottom: 1.5px;
      left: 2px;
      position: absolute;
      transition: all .2s;
      background-color: #fff;
    }
  }
  input[type ='checkbox']:checked{
    background-color: aquamarine;
    &:before{
      content: 'L';
      left: 32px;
    }
  }
  .header-wrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    z-index: 12;

    .header-menu-list{
      display: flex;
      flex-wrap: wrap;
      .header-menu-list-title{
        margin-right: 80px;
        font-size: 18px;
        font-weight: 400;
        a{
          color: white;
          transition: all .3s;
          &:hover{
            color: #8da2f2;
          }
        }
        cursor: pointer;
        &:last-child{
          margin: 0;
        }
      }
    }
  }
}
.header-menu-burger{
  display: none;
  z-index: 33;
}
//.header-inner{
//  animation-duration: 2s;
//  animation-name: left-on-right-mod;
//}
.logo{
  font-weight: 700;
  font-size: 40px;
  color: white;
  cursor: pointer;
  user-select: none;
}
.header-inner.active{
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  ul{
    display: block;
  }
}



